html {
    font-size: 16px
}

.page-wrapper {
    min-height: 100vh;
    background-color: #F2FCEF;    
}

.link-to-other-page {
    width: 100%;
    padding: 2rem 0
}

.link-to-other-page a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    width: 40%;
    margin-inline: 5%;
}

div.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 50rem;
    height: 37rem;
    margin: 4rem auto;
}

div.box {
    border-radius: 5px;
}

.red {
    background-color: darkred;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.blue {
    background-color: lightblue;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.orange {
    background-color: orange;
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.green {
    background-color: limegreen;
    grid-column: 3 / span 3;
}

.purple {
    background-color: plum;
    grid-column: 3 / span 3;
}