* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

html {
    font-size: 16px;
}

.page-wrapper {
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    min-height: 100vh;
}

.link-to-other-page {
    width: 100%;
    padding: 2rem 4rem;
}

.link-to-other-page a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

.card-container {
    width: 57%;
    margin: 4rem auto;
    display: flex;
}

.sedan-container {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suv-container {
    background-color: hsl(184, 100%, 22%);
}

.luxury-container {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.vehicle-card {
    padding: 3rem 0;
}

.content {
    width: 70%;
    margin-inline: auto;
}

.logo {
    width: 100%;
}
.about-vehicle {
    padding-bottom: 3rem;
}

.about-vehicle h4 {
    color: hsl(0, 0%, 95%);
    font-size: 2.5rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2.5rem 0 2rem 0;
}

.about-vehicle p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.1rem;
    line-height: 1.8;
}

.sedan-btn {
    color: hsl(31, 77%, 52%);
    border: 3px solid hsl(31, 77%, 52%);
}

.suv-btn {
    color: hsl(184, 100%, 22%);
    border: 3px solid hsl(184, 100%, 22%);
}

.luxury-btn {
    color: hsl(179, 100%, 13%);
    border: 3px solid hsl(179, 100%, 13%);
}

.cta {
    padding-top: 3rem;
}

.cta .button {
    width: 70%;
    padding: 0.9rem 0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

.cta .button:hover {
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    border: 3px solid hsl(0, 0%, 95%);
}